<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"> 
    <title>IIT Bhubaneswar</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/gallery/iitbbslogo.png">
	<!-- CSS here -->
	<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="../assets/css/slicknav.css">
    <link rel="stylesheet" href="../assets/css/flaticon.css">
    <link rel="stylesheet" href="../assets/css/gijgo.css">
	<link rel="stylesheet" href="../assets/css/animate.min.css">
	<link rel="stylesheet" href="../assets/css/magnific-popup.css">
	<link rel="stylesheet" href="../assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="../assets/css/themify-icons.css">
	<link rel="stylesheet" href="../assets/css/slick.css">
    <link rel="stylesheet" href="../assets/css/slick-theme.css"/>
	<link rel="stylesheet" href="../assets/css/nice-select.css">
	<link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   
</head>

<body>
    <style>
   body {
      font-family: "Roboto",sans-serif;
      font-weight: normal;
      font-style: normal;
  }
  .section-padding {
      padding-top: 120px;
      padding-bottom: 120px;
  }
  .lat {
      padding-top: 30px;
  }
  .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
  }
  .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
  }
  .quote-wrapper {
      background: rgba(130,139,178,0.1);
      padding: 15px;
      line-height: 1.733;
      color: #888888;
      font-style: italic;
      margin-top: 25px;
      margin-bottom: 25px;
  } 
  .single-post-area .quotes {
      background: #fff;
      padding: 15px 15px 15px 20px;
      border-left: 2px solid;
  } 
  img {
     
      vertical-align: middle;
      border-style: none;
  }
  .single-post-area .blog_details {
      padding-top: 26px;
  }
  .single-post-area .blog_details {
      box-shadow: none;
      padding: 0;
  }
  .blog_details h2 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 8px;
  }
  .blog-info-link li {
      float: left;
      font-size: 14px;
  }
  li {
      list-style: none;
  }
  .blog-info-link li a {
      color: #999999;
  }
  .blog_area a {
      color: "Sen",sans-serif !important;
      text-decoration: none;
      transition: .4s;
  }
  .blog_details a {
      color: #242b5e;
  }
  .blog-info-link li i, .blog-info-link li span {
      font-size: 13px;
      margin-right: 5px;
  }
  
  .blog-info-link li::after {
      content: "|";
      padding-left: 10px;
      padding-right: 10px;
  }
  .content-1 img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      
      
  }
  
  .impact img{
      width: 100%;
      height:400px;
      object-fit: cover;
  }
  
  .feature-img img{
      width: 100%;
      height:100%;
      object-fit: cover;
  }
  .content-2{
      background: rgba(130,139,178,0.1);
      padding: 15px;
      line-height: 1.733;
      color: #888888;
      font-style: italic;
      margin-top: 25px;
      margin-bottom: 25px;
  }
  .single-post-area .content-21 {
      background: #fff;
      padding: 15px 15px 15px 20px;
      border-left: 2px solid;
  }
     </style>
    <!--? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../assets/img/gallery/iitbbslogo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header ">
            <div class="header-top d-none d-lg-block">
            <!-- Left Social -->
                <div class="header-left-social">
                    <ul class="header-social">    
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="container">
                    <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-left">
                                <ul>     
                                    <li>Recent Articles <i class="fa fa-bullhorn"></i></li>
                                    <li></li>
                                </ul>
                            </div>
                                
                            <div class="header-info-right ">
                                    <% if (!isLogged) { %>
                                    <ul>    
                                        <li><a href="/auth/google"><i class="fa fa-user"></i>Login</a></li>
                                    </ul>
                                    <% } else { %>
                                    <ul>    
                                        <li>
                                            <a href="/logout">&nbsp;<%=user.name %>&nbsp;<i class="fa fa-md fa-sign-out"></i></a>
                                        </li>
                                    </ul>
                                    <%}%>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom container-fluid" >
                <!-- Logo -->
                <div class="logo d-none d-lg-block">
                    <a href="/"><img src="../assets/img/gallery/logo.png" width="100" height="30" alt=""></a>
                </div>
                <div class="container-fluid">
                    <div class="menu-wrapper">
                        <!-- Logo -->
                        <div class="logo logo2 d-block d-lg-none">
                            <a href="/"><img src="../assets/img/gallery/logo.png" alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul id="navigation">                                                                                          
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/studentlife">Student Life</a></li>
                                    <li><a href="/careers">Careers</a></li>
                                    <li><a href="/alumni">Alumni</a></li>    
                                    <li><a href="/scitech">SciTech</a></li>
                                    <li><a href="/cult">Cult</a></li>
                                    <li><a href="/sports">Sports</a></li>
                                    <li><a href="/aboutus">About</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Header-btn -->
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>

   <main>
      <!--? Hero Start -->
      <div class="home-blog-area section-padding30 container">
         <div class="container">
             <!-- Section Tittle -->
             <div class="row">
                 <div class="col-lg-12">
                     <div class="section-tittle text-center">
                         <!-- <h2>Online Internships</h2> -->
                     </div>
                 </div>
             </div>
         </div>
      </div>
      <!-- Hero End -->
      <!--================Blog Area =================-->
   
      
      <section class="blog_area single-post-area section-padding lat">
        <div class="container">
            <div class="row">
                <div class="col-md-8 post-list">
        
            <%- article[0].content %>
        
 

     


    
     
    
     <!--================Comments area =================-->
                     
                  <div class="comments-area">
                     <h4>Comments</h4>
                     <div class="comment-list">
                        <%for(var i=0;i<comment.length;i++){%>
                            
                            <% if(comment[i].article_id==id){ %>
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                       <div class="thumb">
                                          <img src='<%= comment[i].photo %>' alt="">
                                       </div>
                                       <div class="desc">
                                          <p class="comment">
                                           <%= comment[i].comment %>
                                          </p>
                                          <div class="d-flex justify-content-between">
                                             <div class="d-flex align-items-center">
                                                <h5>
                                                   <a href="#"><%= comment[i].name %></a>
                                                </h5>
                                                <p class="date"><%= comment[i].date %></p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <% } %>

                            <% } %>
                     </div>
                  </div>
                  <div class="comment-form">
                     <h4>Leave a Reply</h4>
                     <form class="form-contact comment_form" action=<%= `/comments/${id}` %> id="commentForm" method="POST">
                        <div class="row">
                           <div class="col-12">
                              <div class="form-group">
                                
                                    <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                    placeholder="Write Comment"></textarea>
                                    <input type="hidden" name="startdate" id="todayDate"/>
<script type="text/javascript">
function getDate()
{
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10){dd='0'+dd} if(mm<10){mm='0'+mm}
    today = dd+"-"+mm+"-"+yyyy;

    document.getElementById("todayDate").value = today;
}

//call getDate() when loading the page

</script> 
                              </div>
                           </div>
                        </div>
                        <div class="form-group">
                           <button type="submit" onclick="getDate()" class="button button-contactForm btn_1 boxed-btn">Post Comment</button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                     
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title" style="color: #2d2d2d;">Category</h4>
                        <ul class="list cat-list">
                           <li>
                              <a href="#" class="d-flex">
                                 <p>Careers</p>
                                 <p></p>
                              </a>
                           </li>
                           <li>
                              <a href="#" class="d-flex">
                                 <p>Alumni</p>
                                 <p></p>
                              </a>
                           </li>
                           <li>
                              <a href="#" class="d-flex">
                                 <p>SciTech</p>
                                 <p></p>
                              </a>
                           </li>
                           <li>
                              <a href="#" class="d-flex">
                                 <p>Cult</p>
                                 <p></p>
                              </a>
                           </li>
                           <li>
                              <a href="#" class="d-flex">
                                 <p>Sports</p>
                                 <p></p>
                              </a>
                           </li>
                        </ul>
                    </aside>

                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title" style="color: #2d2d2d;">Recent Post</h3>
                        <div class="media post_item">
                            <img src="../assets/img/gallery/1.jpeg" width="60px" height="50px" alt="post">
                            <div class="media-body">
                                <a href="onlineinternships.html">
                                    <h3 style="color: #2d2d2d;">Online Internships</h3>
                                </a>
                                <p>7 Days ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="../assets/img/gallery/3.jpeg" width="60px" height="50px" alt="post">
                            <div class="media-body">
                                <a href="chalknews.html">
                                    <h3 style="color: #2d2d2d;">Chalk News</h3>
                                </a>
                                <p>7 Days ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="../assets/img/gallery/2.jpeg" width="60px" height="50px" alt="post">
                            <div class="media-body">
                                <a href="lifebeyondclass.html">
                                    <h3 style="color: #2d2d2d;">Campus life beyond class</h3>
                                </a>
                                <p>7 Days ago</p>
                            </div>
                        </div>
                    </aside>
                    

                    <aside class="single_sidebar_widget instagram_feeds">
                        <h4 class="widget_title" style="color: #2d2d2d;">Instagram Feeds</h4>
                        
                    </aside>
                </div>
             </div>
          </div>
        </div>
    </section>
      
      <!--================ Blog Area end =================-->
   </main>
   <footer>
      <!--? Footer Start-->
      <div class="footer-area footer-bg">
          <div class="container">
              <div class="footer-top footer-padding pa">
                  <div class="row d-flex justify-content-between">
                      <div class="col-xl-4 col-lg-4">
                          <div class="single-footer-caption mb-50">
                              <div class="footer-tittle">
                                  <h4>Contact Us</h4>
                                  <ul>
                                      <li>Email : media@iitbbs.ac.in</li>
                                      <li><h>Media Body</h></li>
                                      <li>IIT Bhubaneswar</li>
                                      <li>Argul, Jatni</li>
                                      <li>Khorda, Odisha-752050</li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-4 col-lg-4">
                          <div class="single-footer-caption mb-50">
                              <div class="footer-tittle">
                                  <h4>Quick Links</h4>
                                  <ul>
                                      <li><a href="#">About Us</a></li>
                                      <li><a href="#">Team</a></li>
                                      <li><a href="#">IIT Bhubaneswar</a></li>
                                      <li><a href="#">Student Gymkhana</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-4 col-lg-4">
                          <div class="single-footer-caption mb-50">
                              <div class="footer-tittle">
                                  <h4>Reach us at</h4>
                                  <div class="footer-social">
                                     
                                      <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                      <a href="#"><i class="fab fa-twitter"></i></a>
                                      <!-- <a  href="#"><i class="fab fa-google"></i></a> -->
                                      <a href="#"><i class="fab fa-instagram"></i></a>
                                      <a href="#"><i class="fab fa-youtube"></i></a>
                                    </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Footer Bottom -->
              <div class="footer-bottom" style="padding-bottom: 0; padding-top: 0;">
                  <div class="row d-flex align-items-center">
                      <div class="col-lg-12">
                          <div class="footer-copy-right text-center">
                              <p>
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Footer End-->
  </footer>
  <!-- Scroll Up -->
  <div id="back-top" >
      <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
  </div>

  <!-- JS here -->
 
    <script src="../assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="../assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="../assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="../assets/js/wow.min.js"></script>
    <script src="../assets/js/animated.headline.js"></script>
    
    <!-- Nice-select, sticky -->
    <script src="../assets/js/jquery.nice-select.min.js"></script>
    <script src="../assets/js/jquery.sticky.js"></script>
    <script src="../assets/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="../assets/js/contact.js"></script>
    <script src="../assets/js/jquery.form.js"></script>
    <script src="../assets/js/jquery.validate.min.js"></script>
    <script src="../assets/js/mail-script.js"></script>
    <script src="../assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="../assets/js/plugins.js"></script>
    <script src="../assets/js/main.js"></script>
  
  </body>
</html>