<%- include ('header') -%>
<main>
        
        <section class="lat blog_area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8 mb-5 mb-lg-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-tittle text-center mb-50">
                                    <h2 class="lathed"><%= cat %></h2>
                                </div>
                            </div>
                        </div>
                        <div class="blog_left_sidebar">
                           <% for(var i=0;i<article.length;i++){
                               if(article[i].category== query){%>
                            
                            <article class="blog_item">
                                <div class="blog_item_img">
                                    <img class="card-img rounded-0" src="assets/img/gallery/<%= article[i].photo %>.jpg" alt="">
                                    <a href="" class="blog_item_date">
                                        <% var str = article[i].date;
                                        var pieces = str.split("-"); %>
                                        <h3><%= pieces[0].slice(0,2) %></h3>
                                        <p><%= pieces[1] %></p>
                                    </a>
                                </div>
                                <div class="blog_details">
                                    <a class="d-inline-block" href="articles/<%=i%>">
                                        <h2 class="blog-head" style="color: #2d2d2d;"><%= article[i].name %></h2>
                                    </a>
                                    <p><%= article[i].pure_text.split(" ").slice(0,50).join(" ")%> <span>...</span></p> 
                                        
                                        <a href="articles/<%=i%>" class="more-btn">Read more »</a>
                                </div>
                            </article>
                            <% }} %>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mt-150">
                        <div class="blog_right_sidebar">
                            
                            
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title" style="color: #2d2d2d;">Recent Post</h3>
                                    <% for(var i=article.length-1; i>article.length-6; i--){%>
                                <div class="media post_item">
                                    <img src="assets/img/gallery/<%= article[i].photo %>.jpg" style="width:60px; height:50px;" alt="post">
                                    <div class="media-body">
                                        <a href="articles/<%=i%>">
                                            <h3 style="color: #2d2d2d;"><%= article[i].name %></h3>
                                        </a>
                                        <p><%= article[i].date %></p>
                                    </div>
                                </div>
                                    <% } %>
                                
                            </aside>
                            

                            <!-- <aside class="single_sidebar_widget instagram_feeds">
                                <h4 class="widget_title" style="color: #2d2d2d;">Instagram Feeds</h4>
                                
                            </aside> -->
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Blog Area =================-->
    </main>

<%- include ('footer') -%>