<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Journalism Body | IIT Bhubaneswar </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/gallery/iitbbslogo.png">
	<!-- CSS here -->
	<link rel="stylesheet" href="./assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="./assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="./assets/css/slicknav.css">
    <link rel="stylesheet" href="./assets/css/flaticon.css">
    <link rel="stylesheet" href="./assets/css/gijgo.css">
	<link rel="stylesheet" href="./assets/css/animate.min.css">
	<link rel="stylesheet" href="./assets/css/magnific-popup.css">
	<link rel="stylesheet" href="./assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="./assets/css/themify-icons.css">
	<link rel="stylesheet" href="./assets/css/slick.css">
    <link rel="stylesheet" href="./assets/css/slick-theme.css"/>
	<link rel="stylesheet" href="./assets/css/nice-select.css">
	<link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <!--? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/gallery/iitbbslogo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

        <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top d-none d-lg-block">
                    <!-- Left Social -->
                    <div class="header-left-social">
                        <ul class="header-social">    
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="container">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                    <ul>     
                                        <li>Recent Articles <i class="fa fa-bullhorn"></i></li>
                                        <li></li>
                                    </ul>
                                </div>
                                
                                <div class="header-info-right ">
                                    <% if (!isLogged) { %>
                                    <ul>    
                                        <li><a href="/auth/google"><i class="fa fa-user"></i>Login</a></li>
                                    </ul>
                                    <% } else { %>
                                    <ul>    
                                        <li>
                                            <a href="/logout">&nbsp;<%=user.name %>&nbsp;<i class="fa fa-md fa-sign-out"></i></a>
                                        </li>
                                    </ul>
                                    <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom container-fluid" >
                    <!-- Logo -->
                    <div class="logo d-none d-lg-block">
                        <a href="/"><img src="assets/img/gallery/logo.png" width="100" height="30" alt=""></a>
                    </div>
                    <div class="container-fluid">
                        <div class="menu-wrapper">
                            <!-- Logo -->
                            <div class="logo logo2 d-block d-lg-none">
                                <a href="/"><img src="assets/img/gallery/logo.png" alt=""></a>
                            </div>
                            <!-- Main-menu -->
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">                                                                                          
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/studentlife">Student Life</a></li>
                                        <li><a href="/career">Career</a></li>
                                        <li><a href="/alumni">Alumni</a></li>    
                                        <li><a href="/scitech">SciTech</a></li>
                                        <li><a href="/cult">Cult</a></li>
                                        <li><a href="/sports">Sports</a></li>
                                        <li><a href="/aboutus">About</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- Header-btn -->
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

<main>
 <!--================Blog Area =================-->
        
        <section class="lat blog_area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8 mb-5 mb-lg-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-tittle text-center mb-50">
                                    <h2 class="lathed"><%= cat %></h2>
                                </div>
                            </div>
                        </div>
                        <div class="blog_left_sidebar">
                           <% for(var i=0;i<article.length;i++){%>
                            <article class="blog_item">
                                <div class="blog_item_img">
                                    <img class="card-img rounded-0" src="assets/img/gallery/<%= article[i].photo %>.jpg" alt="">
                                    <a href="#" class="blog_item_date">
                                        <% var str = article[i].date;
                                        var pieces = str.split(" "); %>
                                        <h3><%= pieces[0].slice(0,2) %></h3>
                                        <p><%= pieces[1] %></p>
                                    </a>
                                </div>
                                <div class="blog_details">
                                    <a class="d-inline-block" href="articles/<%=i%>">
                                        <h2 class="blog-head" style="color: #2d2d2d;"><%= article[i].name %></h2>
                                    </a>
                                    <p><%= article[i].pure_text.split(" ").slice(0,50).join(" ")%> <span>...</span></p> 
                                        
                                        <a href="articles/<%=i%>" class="more-btn">Read more »</a>
                                </div>
                            </article>
                            <% } %>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mt-120">
                        <div class="blog_right_sidebar">
                            
                            
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title" style="color: #2d2d2d;">Recent Post</h3>

                                <div class="media post_item">
                                    <img src="assets/img/gallery/1.jpg" width="60px" height="50px" alt="post">
                                    <div class="media-body">
                                        <a href="articles/onlineinternships.html">
                                            <h3 style="color: #2d2d2d;">Online Internships</h3>
                                        </a>
                                        <p>7 Days ago</p>
                                    </div>
                                </div>
                                
                            </aside>
                            

                            <aside class="single_sidebar_widget instagram_feeds">
                                <h4 class="widget_title" style="color: #2d2d2d;">Instagram Feeds</h4>
                                
                            </aside>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Blog Area =================-->
    </main>
    <footer>
        <!--? Footer Start-->
        <div class="footer-area footer-bg">
            <div class="container">
                <div class="footer-top footer-padding pa">
                    <!-- Footer Menu -->
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-4 col-lg-4">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Contact Us</h4>
                                    <ul>
                                        <li>Email : media@iitbbs.ac.in</li>
                                        <li><h>Media Body</h></li>
                                        <li>IIT Bhubaneswar</li>
                                        <li>Argul, Jatni</li>
                                        <li>Khorda, Odisha-752050</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Quick Links</h4>
                                    <ul>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Team</a></li>
                                        <li><a href="#">IIT Bhubaneswar</a></li>
                                        <li><a href="#">Student Gymkhana</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Reach us at</h4>
                                    <div class="footer-social">
                                       
                                        <a href=""><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <!-- <a  href="#"><i class="fab fa-google"></i></a> -->
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Bottom -->
                <div class="footer-bottom" style="padding-bottom: 0; padding-top: 0;">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-12">
                            <div class="footer-copy-right text-center">
                                <p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->
	
    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    
    <!-- Nice-select, sticky -->
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
        $('.slider').slick({
            dots:true,
            arrows:true,
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 1500,
            });
        });
	</script>
    </body>
</html>