<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Journalism Body | IIT Bhubaneswar</title>
  <link rel="shortcut icon" type="image/x-icon" href="./assets/img/gallery/iitbbslogo.png">
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="stylesheet" href="./assets/css/styles.css">
  <link rel="stylesheet" href="./assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <style>
  .footer-area .footer-top .single-footer-caption .footer-tittle ul li a {
      color: #bbbcbc;
      font-weight: 500;
      font-size: 18px;
      text-decoration:none;
  }


.search-container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

.search-container { margin-top: 10px }

input {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #555860;
}


.search-container input {
    height: 26px;
    width: 100%;
    padding: 0 12px 0 25px;
    background: white url("https://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 6px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 13px;

}

.search-container input:focus {
    outline: none;
    border-color: #66b1ee;

}


.search-input .results {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eceef4));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -ms-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: linear-gradient(top, #fdfdfd, #eceef4);
}


:-moz-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

::-webkit-input-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

.lt-ie9 .search input { line-height: 26px }

.suggestions {
  width: 300px;
  background: #fff;
  z-index: 12;
  border-top: 2px solid #999;
  margin-top: 0;
}
.suggestions > div {
  text-align: left;
  font-size: 18px;
  color: #000000;
  border-top: 1px solid #fff;
  cursor: pointer;
}

@media only screen and (min-width: 772px){
  .panel[data-type=splash-image][data-scroll-type=parallax] {
    padding-top: -10px;
  }
}
  </style>
</head>

<body class="home page-template page-template-homepage page-template-homepage-php page page-id-64 splash-parallax normal-home">
  <header >
    <section id="brand-bar" data-ga-category="Brand bar" data-ga-action="Gateway nav">
      <a href="/" class="su-brand" rel="home" id="header--wordmark" data-ga-action="Wordmark" style="margin:0; position:absolute; left:3em; float:left;">
        IIT Bhubaneswar
      </a>
      <nav role="navigation" id="gateway" class="menu-gateway-nav-container d-none d-md-block" style="display:block; height:100%; background-color:#820000; float:left; position:absolute; top:0em; left:18em;">
        <ul id="menu-gateway-nav" class="menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page" style="height:100%; margin-top:0.8em; padding-right:10px; padding-left:10px;">
                <div style="color:#fff; ">
                    Recent Articles <i class="fa fa-bullhorn"></i>
                </div>
            </li>
        </ul>
      </nav>
      <nav role="navigation" id="gateway" class="menu-gateway-nav-container d-none d-md-block" style=" float:left; position:absolute; left:26.3em;">
        <ul id="menu-gateway-nav" class="menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page" style="margin-top:0.3em;">
                <div class="carousel" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="articles/0" style="color:#fff"><%= article[0].name %></a>
                        </div>
                        <% for(var i=1;i<article.length;i++){%>
                        <div class="carousel-item">
                            <a href="articles/<%=i%>" style="color:#fff; max-width: 500px; overflow: hidden;"><%= article[i].name %></a>
                        </div>
                        <% } %>
                    </div>
                </div>
            </li>
        </ul>
      </nav>
      
      <nav id="gateway" class="menu-gateway-nav-container">
        <ul id="menu-gateway-nav" class="menu">
          <div class="search-container">
            
            <input class="search-input" type="text" placeholder="Search here..." />
           
            <div class="suggestions">
            </div>
          </div>
        </ul>
      </nav> 

      <nav id="gateway" class="menu-gateway-nav-container d-none d-md-block">
        <ul id="menu-gateway-nav" class="menu">
            <% if (!isLogged) { %>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/auth/google"><i class="fa fa-user"></i>&nbsp; Login</a></li>
            <% } else { %>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a><i class="fa fa-user"></i>&nbsp;<%=user.name %>&nbsp;</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/logout"><i class="fa fa-sign-out"></i>&nbsp; Logout</a></li>
            <%}%>
        </ul>
      </nav>  
      <button id="menu-toggle" aria-controls="primary-menu" aria-expanded="false" data-ga-action="Menu toggle">Menu</button>
    </section>
    <div id="menu-overlay" aria-hidden="true" role="presentation"></div>
    <nav id="site-navigation" role="navigation" aria-label="Primary site navigation" data-ga-category="Top nav">
      <div class="menu-primary-nav-container">
        <ul id="primary-menu" class="menu">
            <li id="menu-item-2297" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Home</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/studentlife">Student Life</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/career">Career</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/alumni">Alumni</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/scitech">Sci Tech</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/cult">Cult</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/sports">Sports</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/aboutus">About</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </nav> 

    <section class="panel-collection" data-modular-content-collection>

        <section class="panel nav theme--choco" data-type="splash-image" data-modular-content data-js="panel" data-index="0" data-scroll-type="parallax" data-logo-loc-v="middle" data-logo-loc-h="center" data-ga-category="Splash Panel">

            <!-- <p id="splash--scroller"><a href="#main-content" data-ga-action="Splash screen scroller">Explore IIT BBS</a></p> -->

            <picture aria-hidden="true" tabindex="-1">
                <img class="img-fluid" style="padding-top:0.94em;" role="presentation" alt="" src="assets/img/gallery/js5.jpg">
            </picture>
    
        </section>

    </section>
    <script>
     
const searchInput = document.querySelector('.search-input');
const suggestionsPanel = document.querySelector('.suggestions');
var articleTitle=[];
      <% for(var j=0;j<article.length ;j++) { %>
     
        articleTitle.push('{"title":"<%= article[j].name %>","id":"<%= article[j].id %>"}');
     <% } %>
     console.log(JSON.parse(articleTitle[0]).title);
searchInput.addEventListener('keyup', function() {
const input = searchInput.value;
suggestionsPanel.innerHTML = '';
const suggestions = articleTitle.filter((art)=> {
 var obj=JSON.parse(art);
 const reg=RegExp(input, "gi");
  return obj.title.match(reg);
});
console.log(suggestions);
suggestions.forEach((suggested)=> {
  var obj=JSON.parse(suggested);
  const div = document.createElement('div');
  div.innerHTML = `<a style="color:black; z-index:100; width:100%" href=articles/${obj.id}>${obj.title}<a>`;
  suggestionsPanel.appendChild(div);
});
if (input === '') {
  suggestionsPanel.innerHTML = 'No results';  
}
});
   </script> 
  </header>
