<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Journalism Body</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Vendor CSS Files -->
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Journalism Body | IIT Bhubaneswar</title>
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/gallery/iitbbslogo.png">
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/css/owl.carousel.min.css">
  <!-- <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="stylesheet" href="./assets/css/styles.css"> -->
  <link rel="stylesheet" href="./assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Template Main CSS File -->
  

  <style>
      body {
  font-family: "Open Sans", sans-serif;
  color: #444;
  background-color: white;
}

a {
  color: rgba(117, 117, 117, 1);;
}

a:hover {
 
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: "Roboto", sans-serif;
}




/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background: red;
}

#header.header-transparent {
  background-color: #b1040e;
}

#header.header-scrolled {
  background: red;
  height: 60px;
  padding: 10px 0;
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 4px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo a {
  color: black;
  text-decoration: none;
}
#header .logo h1{
  color: white;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

#main {
  margin-top: 80px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: black;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: white;
  text-decoration: none;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: white;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #1c3745;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #68A4C4;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: #1e4356;
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #ddecf5;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #a2cce3;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa0";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: black;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(30, 67, 86, 0.9);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}






/*--------------------------------------------------------------
# Our Services
--------------------------------------------------------------*/


.services .Announcements {
  padding-top: 20px;
  position: relative;
  overflow: hidden;

  background: white;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-top: 40px;
}

.services .Announcements .title{
  padding-top: 15px;
  padding-right: 15px;
}
.services .Announcements .description{
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 10px;
  font-size: 16px;
  line-height: 28px;
  color: black;
  padding-left: 10px;
 
}

@media only screen and (min-width: 772px){
  .services{
    height: 88vh;
    padding-top: 40px;
  }
}





br{
  padding: 0 px;
  margin: 0px;
  line-height: 1px;
}




.services .title a {
  color: #111;
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .container {
  
  background: #fff;
}
@media only screen and (min-width: 900px){
#recentposts{
  width: 90%;
}
}
@media only screen and (min-width: 992px){
.Announcements::before{
  content: '';
  position: absolute;
  background-color: rgb(230, 230, 230);
  width: 0.5px;
  height: 100%;
}
}
@media only screen and (min-width: 772px){
  #table .line{
    display: none;
  }
}

@media only screen and (min-width: 772px){
  .post-entry-1 .line1{
    display: none;
  }
  }

@media only screen and (min-width: 772px){
    .post-entry-2 .contents{
      padding-left: 35px;
    }
    }



.why-us h1{
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-height: 56px;
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 0;
  color: rgba(41, 41, 41, 1);
  line-height: 28px;
  margin: 0;
  padding-top: 10px;  
}

.post-entry-1 h2{
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-height: 56px;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  color: rgba(41, 41, 41, 1);
  line-height: 28px;
  margin: 0;
  padding-top: 10px;  
}

.why-us .post-entry-1{
  padding-bottom: 20px;
}
.why-us p{
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  padding-top: 10px;
  font-size: 18px;
  line-height: 28px;
  color: rgba(41, 41, 41, 1);
}

.why-us h4{
  
  max-height: 16px;
  
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: rgba(41, 41, 41, 1);
  
  padding-top: 5px;
  padding-bottom: 10px;
}


.post-entry-2{
  margin-bottom: 30px;
}
.post-entry-2 .thumbnail{
  background-size: cover;
  background-position: center;
  width: 40%;
}
.post-entry-2 .contents{
  width: 60%;
 
  
}
.post-entry-2 h2{
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(41, 41, 41, 1);
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  margin: 0;
  padding-top: 10px;
}
.why-us span{
  font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  color: rgba(117, 117, 117, 1);
  line-height: 20px;
  font-weight: 400;

}
#trarticles span{
  font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  line-height: 20px;
  font-weight: 400;

}
#trarticles{
    background-color: white;
    /* width: 70%; */
}

.third{
  background-color: yellow;
  max-width: 600px;
  
}


#tr p{
  letter-spacing: 0.083em;
  line-height: 16px;
  font-size: 15px;
  font-weight: 700;
  color: rgba(41, 41, 41, 1);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  vertical-align: middle;
  padding-top: 8px;
}
.trend-entry .number {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  font-size: 30px;
  line-height: 1;
  color: #ccc;
  font-weight: 600;


  
}

.trend-contents h2{
  max-height: 40px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  font-weight: 750;
  font-size: 16px;
  color: rgba(41, 41, 41, 1);
  line-height: 20px;
  letter-spacing: 0;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  
}
.trend-entry{
  margin-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
}
svg {
  vertical-align: middle;
}
#tr{
  padding-right: 15px;
  padding-left: 15px;
}





#articles{
  padding-left: 15px;
  padding-right: 15px;
}
#articles .contents{
  margin-left: 20px;
  
}

@media only screen and (max-width: 600px) {
  #articles .mb-3{
    display: none;
  }
}
@media only screen and (min-width: 900px){
  #articles .contents h2{
  letter-spacing: 0px;
  max-height: 40px;
  line-height: 20px;
  font-size: 20px;
  font-weight: 700;
  color: rgba(41, 41, 41, 1);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}
#articles .mb-3{
  font-size: 16px;
  line-height: 20px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  color: rgba(117, 117, 117, 1);
  padding-top: 10px;
  
}
#articles .post-meta{
  font-size: 14px;
  color: rgba(117, 117, 117, 1);
  line-height: 20px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding-top: 10px;
}

#sticky {
	position: -webkit-sticky;
	position: sticky;
  top: 0;
  background-color: white;
}
.stick {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 30px;
}
#stickylinks{
  
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  padding-left: 20px;
  padding-top: 45px;

 
}
#stickylinks .fx{
  margin-right: 26px;
  margin-bottom: 8px;
  display: block;
  font-weight: 400;
  color: rgba(117, 117, 117, 1);
  font-size: 16px;
  line-height: 20px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
 
}
#contact{
  padding-left: 20px;
  padding-right: 20px;
  
}

.form{widows: 100%;height:470px;background: white;border-radius:8px;box-shadow:0 0 20px -10px #000;margin:calc(50vh - 220px) auto;padding:20px 20px ;max-width:calc(100vw - 40px);box-sizing:border-box;font-family:'Montserrat',sans-serif;position:relative}
.form h2{margin:10px 0;padding-bottom:10px;width:150px;color:#78788c;font-size: 25px; border-bottom:3px solid #78788c}
.form input{width:100%;padding:10px;box-sizing:border-box;background:none;outline:none;resize:none;border:0;font-family:'Montserrat',sans-serif;transition:all .3s;border-bottom:2px solid #bebed2}
.form input:focus{border-bottom:2px solid #78788c}
.form p:before{content:attr(type);display:block;margin:28px 0 0;font-size:14px;color:#5a5a5a}
.form button{
  
  padding:8px 12px;margin:8px 0 0;font-family:'Montserrat',sans-serif;border:2px solid #78788c;background:0;color:#5a5a6e;cursor:pointer; border-radius: 10px; transition:all .3s}
.form button:hover{background:#78788c;color:#fff}
.form div{content:'Hi';position:absolute;bottom:-15px;right:-20px;background:#50505a;color:#fff;width:320px;padding:16px 4px 16px 0;border-radius:6px;font-size:13px;box-shadow:10px 10px 40px -14px #000}
.form span{margin:0 5px 0 15px}


  </style>
</head>

<body>

  <header id="header" class="fixed-top header-transparent">
    <div class="container">

      <div class="logo float-left">
        <h1 class="text-light"><a href="/"><span>Journalism Body</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/studentlife">Student Life</a></li>
          <li><a href="/career">Careers</a></li>
          <li><a href="/alumni">Alumini</a></li>
          <li><a href="/scitech">Scitech</a></li>
          <li><a href="/cult">Cult</a></li>
          <li><a href="/sports">Sports</a></li>
          <li><a href="/aboutus">About us</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->


    <main id="main">


        <!-- ======= Services Section ======= -->
        <section class="services">
          <div class="container-fluid" id="recentposts">
            <div class="col-md-12">
    
            <div class="row">
              <div class="col-lg-8">
                <section class="why-us">
              
    
                    <h1>Recent Posts</h1>
                    <br>
                    <div class="row">
                      
                      <div class="col-md-6">
                            <% var j =0; var count ; for( j=0;j<article.length;j++){ count = 0;
                            if(article[j].trending=="on") {
                            count++ %>
                                <article >
                                    
                                        <a href="articles/<%=j%>" aria-hidden="true" tabindex="-1">
                                            <div class="post-entry-1">
                                                <img src="assets/img/gallery/<%=article[article.length-1].photo%>.jpg" width="100%" height="auto">
                                              
                                              
                                                <h2><%=article[j].name%></h2>
                                                
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                                                <% for(var k=0;k<author.length;k++){
                                                  console.log("HI");
                                                  console.log(article[j].author_id);
                                                 console.log(k);
           if(article[j].author_id===author[k].id) {
             console.log(k); %>
             <span class="d-block"><a href="#"> <%=author[k].name%></a> in <a href="#"><%=article[j].category%></a></span>
         <% break}}%>
                                                
                                                <div class="line1">
                                                  <br>
                                                  <hr class="px-5">
                                                </div>
                                              </div>
                                                
                                        </a>
                                  
                                   
                                </article>
                            <% }  if(count==1) break; } %>
                            
                            </div>

                            <br>

                            <div class="col-md-6" id="recent">
                                <% var j =0; var count ; for( j=article.length-2;j>article.length-6;j--){ count = 0;
                                {
                                count++ %>
                                    <article >
                                        
                                            <a href="articles/<%=j%>" aria-hidden="true" tabindex="-1">
                                                <div class="post-entry-2 d-flex">
                                                    
                                                  
                                                    <div class="contents">
                      
                                                        <h2><%=article[j].name%></h2>
                                                      
                                                        <br>
                                                        <% for(var k=0;k<author.length;k++){
                                                          console.log("HI");
                                                          console.log(article[j].author_id);
                                                         console.log(k);
                   if(article[j].author_id===author[k].id) {
                     console.log(k); %>
                     <span class="d-block"><a href="#"> <%=author[k].name%></a> in <a href="#"><%=article[j].category%></a></span>
                 <% break}}%>
                                                        
                                                        </div>
                                                        <div class="thumbnail" style="background-image: url('assets/img/gallery/<%=article[j].photo%>.jpg')"></div>
                                                    </div>
                                                    
                                            </a>
                                      
                                       
                                    </article>
                                <% }  } %>
                                
                            

                            </div>
                  
                   
                  
                        </div>
                
                    </section><!-- End Why Us Section -->
                  </div>
                  
                 
                
                  
                  <div class="col-md-6 col-lg-4" id="table">
                    <div class="line">
                    <hr class="px-5">
                  </div>
                    <div class="Announcements">
                      <div class="row justify-content-center">
                       
                      <h4 class="title">Announcements</h4>
                      <i class="fa fa-bullhorn fa-3x" aria-hidden="true"></i>
                    
                      </div>
                      <br>
                      <ul>
                        <li>
                      <p class="description">
                        News Needs to Meet Its Audiences Where They Are News Needs to Meet Its Audiences Where They
                      </p>
                       </li>
                       <li>
                        <p class="description">
                          News Needs to Meet Its Audiences Where They Are News Needs to Meet Its Audiences Where They
                        </p>
                         </li>
                         <li>
                          <p class="description">
                            News Needs to Meet Its Audiences Where They Are News Needs to Meet Its Audiences Where They
                          </p>
                           </li>
                           <li>
                            <p class="description">
                              News Needs to Meet Its Audiences Where They Are News Needs to Meet Its Audiences Where They
                            </p>
                             </li>
                      </ul>
                    </div>
                  </div>
        
                </div>
              </div>
        
              </div>
              </section>

              <div class="container" id="trarticles">
                <hr class="px-5">
                  <div class='row my-5'>
                      <div class="col-12 mb-3" >
                        <div class="row" id="tr">
                        <svg width="28" height="29" viewBox="0 0 28 29" fill="none" class="mg x"><path fill="#fff" d="M0 .8h28v28H0z"></path>
                          <g opacity="0.8" clip-path="url(#trending_svg__clip0)"><path fill="#fff" d="M4 4.8h20v20H4z"></path><circle cx="14" cy="14.79" r="9.5" stroke="#000"></circle>
                            <path d="M5.46 18.36l4.47-4.48M9.97 13.87l3.67 3.66M13.67 17.53l5.1-5.09M16.62 11.6h3M19.62 11.6v3" stroke="#000" stroke-linecap="round"></path></g>
                            <defs><clipPath id="trending_svg__clip0"><path fill="#fff" transform="translate(4 4.8)" d="M0 0h20v20H0z"></path></clipPath></defs></svg>
                          <p>TRENDING ON MEDIUM</p>
                        </div>
              
                      </div>
                    
                      <% var j =0; var count=0 ; for( j=0;j<article.length ;j++){ 
                        if(article[j].trending=="on") {
                           count++ %>
                        

                              <div class="col-lg-4 col-12 my-2">
                                <div class="row">
                                   <div class="trend-entry d-flex">
                                     <div class="number align-self-start">0<%=j+1%></div>
                                     <div class="trend-contents">
                                    <a href="articles/<%=j%>" aria-hidden="true" tabindex="-1">
                                       
                                          
                                                      <h2><%=article[j].name%></h2>
                                                   
                                    </a>
                                    <div class="post-meta">
                                      <span class="date-read"><%=article[j].date%> <span class="mx-1">•</span> 3 min read <span class="icon-star2"></span></span>
                                      </div>
                                      </div>
                                      </div>
                                  </div>
                              </div>
                              
                         
                        <% } if(count==6){break}    } %>
                      
              
                     

   
                <div class="container">
                    <hr class="px-5">
                  
                    <div class="row mt-5">
                        <div class="col-lg-8 col-12 ">
                            <div class="row" id="articles">

                                <% var j =0; var count ; for( j=article.length-2;j>article.length-6;j--){ count = 0;
                                 
                                  {
                                      
                                    count++ %>

                                    
                                                        <div class="post-entry-2 d-flex">
                                                            <div class="thumbnail order-md-2" style="background-image: url('assets/img/gallery/<%=article[j].photo%>.jpg');"></div>
                                                            <div class="contents order-md-1 pl-0">
                                                              <a href="articles/<%=j%>" aria-hidden="true" tabindex="-1">
                                                              <h2><%=article[j].name%></h2>
                                                            </a>
                                                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                                                            <div class="post-meta">
                                                             
                                                              <!-- <% for (var i =0; i <=author.length-1;  i++ ) { 
                                                                
                                                                if (author[i].id === article[j].article_id) 
                                                                   %> -->
                                                                   <% for(var k=0;k<author.length;k++){
                                                                     console.log("HI");
                                                                     console.log(article[j].author_id);
                                                                    console.log(k);
                              if(article[j].author_id===author[k].id) {
                                console.log(k); %>
                                <span class="d-block"><a href="#"> <%=author[k].name%></a> in <a href="#"><%=article[j].category%></a></span>
                            <% break}}%>
                                                                  <!-- <span class="d-block"><a href="#"> <%=author[i].name%></a> in <a href="#"><%=article[j].category%></a></span>
                                                                  <% break %>  
                                                                <%  } %>
                                   -->
                                                               
                                                             
                                                           
                                                            
                                                            <span class="date-read"> <%=article[j].date%> <span class="mx-1">•</span> 3 min read <span class="icon-star2"></span></span>
                                                            </div>
                                                            </div>
                                                            </div>
                                               
                                          
                                       
                                    <% }  } %>
                                    


                                
                            
                                    
                            </div>
                        </div>
                        <div class="col-lg-4 col-12" >
                          <div class="row  stick">
                             
                                      <div class="col-12">
                                          <div class="row" style="font-size: 14px;" id="stickylinks">
                                             
                                         
                                              <a href=""><h4 class="fx">Help</h4></a>
                                              <a href=""><h4 class="fx">Status</h4></a>
                                              <a href=""><h4 class="fx">Writers</h4></a>
                                              <a href=""><h4 class="fx">Blog</h4></a>
                                              <a href=""><h4 class="fx">Careers</h4></a>
                                              <a href=""><h4 class="fx">Privacy</h4></a>
                                              <a href=""> <h4 class="fx">Terms</h4> </a>
                                              <a href=""><h4 class="fx">About</h4></a>
                                             
                                          </div>
                  
                                      </div>
                                      <div class="col-12" id="contact">
                                        <form class="form">
                                          <h2>CONTACT US</h2>
                                          <p type="Name:"><input placeholder="Write your name here.."></input></p>
                                          <p type="Email:"><input placeholder="Let us know how to contact you back.."></input></p>
                                          <p type="Message:"><input placeholder="What would you like to tell us.."></input></p>
                                         <center><button>Send Message</button></center>
                                         
                                        </form>
                                      </div>
                                  </div>
                              </div>
                             
                  
                  
                          </div>
                  
                  
                            </div>
                  
                  
                        </div>
                     
                  
                        




  </main><!-- #main -->

  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
   <!-- Template Main JS File -->
   
   <script src="/public/assets/js/header.js"></script>

   
 
  </body>
  </html>