<%- include('header') -%>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">

<style>
    body {
font-family: "Open Sans", sans-serif;
color: #444;
background-color: white;
overflow: scroll;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background: grey;
}

a {
color: rgba(117, 117, 117, 1);
text-decoration: none;
}
a:hover {
text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .font-primary {
font-family: "Roboto", sans-serif;
}
#main
{
  overflow: scroll;
}
/*--------------------------------------------------------------
# Our Services
--------------------------------------------------------------*/
.services .Announcements {
position: relative;
overflow: hidden;
background: white;
align-items: center;
border: 1px solid #fff;
border-radius: 10px;
margin-top: 40px;
}
.services .Announcements .title{
padding-top: 15px;
padding-right: 15px;
}
.services .Announcements .description{
  font-family: 'Open Sans', sans-serif;
font-size: 0.9em;
padding-top: 5px;
line-height: 28px;
color: black;
}
.services .Announcements ul{
  list-style-type: circle;
}
@media only screen and (min-width: 772px){
.services{
  /* height: 88vh; */
  padding-top: 40px;
}
}
br{
padding: 0 px;
margin: 0px;
line-height: 1px;
}
.services .title a {
color: #111;
}
.services .description {
font-size: 15px;
line-height: 28px;
margin-bottom: 0;
}
/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .container {
background: #fff;
}
@media only screen and (min-width: 900px){
#recentposts{
width: 90%;
}
}
@media only screen and (min-width: 992px){
.Announcements::before{
content: '';
position: absolute;
background-color: rgb(230, 230, 230);
width: 0.5px;
height: 100%;
}
}
@media only screen and (min-width: 772px){
#table .line{
  display: none;
}
}
@media only screen and (min-width: 772px){
.post-entry-1 .line1{
  display: none;
}
}
@media only screen and (min-width: 772px){
  .post-entry-2 .contents{
    padding-left: 35px;
  }
  }
#articles .post-entry-2{
  width: 100%;
}
.why-us h2{
font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
max-height: 56px;
font-size: 30px;
font-weight: 200;
letter-spacing: 0;
color: rgba(41, 41, 41, 1);
line-height: 28px;
margin: 0;
padding-top: 10px;  
}
.post-entry-1 h2{
  max-height: 56px;
font-size: 22px;
font-weight: 700;
letter-spacing: 0;
color: rgba(41, 41, 41, 1);
line-height: 28px;
margin: 0;
padding-top: 10px;  
}
.why-us .post-entry-1{
padding-bottom: 20px;
}
.why-us p{
font-family: 'Open Sans', sans-serif;
padding-top: 10px;
font-size: 0.8em;
line-height: 28px;
color: rgba(41, 41, 41, 1);
}
.why-us h4{
max-height: 16px;
font-size: 12px;
line-height: 16px;
font-weight: 500;
color: rgba(41, 41, 41, 1);
padding-top: 5px;
padding-bottom: 10px;
}
.post-entry-2{
margin-bottom: 30px;
}
.post-entry-2 .thumbnail{
background-size: cover !important;
background-repeat: no-repeat;
background-position: center;
width: 36%;
height:auto;
}
.post-entry-2 .contents{
width: 64%;
}
.post-entry-2 h2{
font-size: 18px;
color: rgba(41, 41, 41, 1);
font-weight: 700;
line-height: 20px;
margin: 0;
padding-top: 10px;
padding-right: 5px;
}
.why-us span{
font-family: 'Open Sans', sans-serif;
font-size: 15px;
color: #aaaaaa;
line-height: 20px;
font-weight: 400;
}
#trarticles span{
font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
font-size: 16px;
color: rgba(117, 117, 117, 1);
line-height: 20px;
font-weight: 400;
}
#trarticles{
  background-color: white;
  /* width: 70%; */
}
.third{
background-color: yellow;
max-width: 600px;
}
#trarticles .post-meta{
  padding-top: 10px;
}
#tr p{
letter-spacing: 0.083em;
line-height: 16px;
font-size: 15px;
font-weight: 700;
color: rgba(41, 41, 41, 1);
font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
vertical-align: middle;
padding-top: 8px;
}
.trend-entry .number {
-webkit-box-flex: 0;
-ms-flex: 0 0 50px;
flex: 0 0 50px;
font-size: 30px;
line-height: 1;
color: #ccc;
font-weight: 600;
padding-top: 15px;
}
.trend-contents h2{
max-height: 40px;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
display: -webkit-box;
font-weight: 750;
font-family: 'Montserrat', sans-serif;
font-size: 18px;
color: rgba(41, 41, 41, 1);
line-height: 24px;
letter-spacing: 0;
}
.trend-entry{
margin-bottom: 30px;
padding-right: 15px;
padding-left: 15px;
}
svg {
vertical-align: middle;
}
#tr{
padding-right: 15px;
padding-left: 15px;
}
.container-fluid{
  width:90%;
}
#articles{
padding-right: 25px;
}
#articles .contents{
margin-left: 20px;
}
@media only screen and (max-width: 600px) {
#articles .mb-3{
  display: none;
}
}
@media only screen and (max-width: 600px){
  #articles{
    padding-left: 20px;
  }
}
@media only screen and (min-width: 900px){
#articles .contents h2{
letter-spacing: 0px;
max-height: 40px;
line-height: 25px;
font-weight: 700;
color: rgba(41, 41, 41, 1);
font-family: 'Montserrat', sans-serif;
font-size: 18px;
}
}
#articles .mb-3{
  font-family: 'Open Sans', sans-serif;
font-size: 0.8em;
line-height: 20px;
margin: 0;
padding-top: 20px;
}
#articles .post-meta{
font-size: 14px;
color: rgba(117, 117, 117, 1);
line-height: 20px;
font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 400;
padding-top: 10px;
}
#sticky {
  position: -webkit-sticky;
  position: sticky;
top: 0;
background-color: white;
}
.stick {
position: -webkit-sticky;
position: sticky;
top: 30px;
}
#stickylinks{
flex-wrap: wrap;
flex-direction: row;
display: flex;
padding-left: 20px;
padding-top: 45px;
}
#stickylinks .fx{
margin-right: 26px;
margin-bottom: 8px;
display: block;
font-weight: 400;
color: rgba(117, 117, 117, 1);
font-size: 16px;
line-height: 20px;
font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#table li{
  list-style-type: disc;
}
#contact{
padding-left: 20px;
padding-right: 20px;
}
.in-quest{
  padding-top: 10px;
}
.form b{color: black;}
.form a{text-decoration: none; color: black;}
.form p{margin-top: -10px; padding: 0;}
.form input[type='text'] {font-family: Georgia, 'Times New Roman', Times, serif; color: black;font-size: small; }
.form{width:400px;height:550px;background:white;border-radius:8px;box-shadow:0 0 20px -10px #000;margin-bottom: 20px;padding:10px 30px;max-width:calc(100vw - 40px);box-sizing:border-box;font-family:'Montserrat',sans-serif;position:relative}
@media only screen and (max-width: 450px)
{
  .form{height:650px;}
}
.form input{width:100%; padding:18px;box-sizing:border-box;background:none;outline:none;resize:none;border:0;font-family:'Montserrat',sans-serif;transition:all .3s;}
.form p:before{content:attr(type);display:block;margin:28px 0 0;font-size:14px;color:#5a5a5a}
.form ::placeholder {font-family: Georgia, 'Times New Roman', Times, serif; color: black;font-size: small;}
.form .button{box-sizing: border-box; width: 100px;font-family: 'Courier New', Courier, monospace;font-size: small;padding:8px 12px;margin:8px 0 0;font-family:'Montserrat',sans-serif;border:2px solid #78788c;background:0;color:#5a5a6e;cursor:pointer;transition:all .3s}
.form .button:hover{background:#78788c;color:#fff}
</style> 


  <main id="main">


      <!-- ======= Services Section ======= -->
      <section class="services">
        <div class="container-fluid" id="recentposts">
          <div class="col-md-12">
  
          <div class="row">
            <div class="col-lg-8">
              <section class="why-us">

                <!-- <h2>Recent Articles</h2> -->
                <br>
                  <div class="row">
                    
                    <div class="col-md-6">
                          <% var j =0; var count ; for( j=0;j<article.length;j++){ count = 0;
                          if(article[j].trending=="on") {
                          count++ %>
                              <article >
                                  
                                      <a href="articles/<%=article[article.length-6].id%>" aria-hidden="true" tabindex="-1">
                                          <div class="post-entry-1">
                                              <img src="assets/img/gallery/<%=article[article.length-6].photo%>.jpg" width="100%" height="auto">
                                            
                                            
                                              <h2><%=article[article.length-6].name%></h2>
                                              
                                              <p><%= article[article.length-6].pure_text.split(" ").slice(0,30).join(" ")%>...</p>
                                              <% for(var k=0;k<author.length;k++){
                                                console.log("HI");
                                                console.log(article[j].author_id);
                                               console.log(k);
         if(article[j].author_id===author[k].id) {
           console.log(k); %>
           <span class="d-block"><%=author[k].name%> <span class="mx-1">•</span><%=article[j].category%>
       <% break}}%>
                                              
                                              <div class="line1">
                                                <br>
                                                <hr class="px-5">
                                              </div>
                                            </div>
                                              
                                      </a>
                                
                                 
                              </article>
                          <% }  if(count==1) break; } %>
                          
                          </div>

                          <br>

                          <div class="col-md-6" id="recent">
                              <% var j =0; var count ; for( j=article.length-2;j>article.length-6;j--){ count = 0;
                              {
                              count++ %>
                                  <article >
                                      
                                          <a href="articles/<%=j%>" aria-hidden="true" tabindex="-1">
                                              <div class="post-entry-2 d-flex">
                                                  
                                                
                                                  <div class="contents" style="height:95px; ">
                    
                                                      <h2><%=article[j].name.split(" ").slice(0,7).join(" ")%></h2>
                                                    
                                                      <br>
                                                      <% for(var k=0;k<author.length;k++){
                                                        
                 if(article[j].author_id===author[k].id) {
                   console.log(k); %>
                   <span class="d-block" style="text-transform: capitalize;"><%=author[k].name%><span class="mx-1">•</span><%=article[j].category%></span>
               <% break}}%>
                                                      
                                                      </div>
                                                      <div class="thumbnail" style="background-image: url('assets/img/gallery/<%=article[j].photo%>.jpg')"></div>
                                                  </div>
                                                  
                                          </a>
                                    
                                     
                                  </article>
                              <% }  } %>
                              
                          

                          </div>
                
                 
                
                      </div>
              
                  </section><!-- End Why Us Section -->
                </div>
                
               
              
                
                <div class="col-md-6 col-lg-4" id="table">
                  <div class="line">
                  <hr class="px-5">
                </div>
                  <div class="Announcements">
                    <div class="row justify-content-center">
                     
                    <h4 class="title">Announcements</h4>
                    <i class="fa fa-bullhorn fa-3x" aria-hidden="true"></i>
                  
                    </div>
                    <br>
                    <ul>
                      <li>
                    <p class="description">
                      IIT Bhubaneswar holds Pulse Polio Drive for In-Campus Children as a Part of National Polio Immunisation Programme 
                    </p>
                     </li>
                     <li>
                      <p class="description">
                       4th Years were asked to return to campus by Jan 28
                      </p>
                       </li>
                       <li>
                        <p class="description">
                          Socities started to conduct workshops and induct Freshers amidst the pandemic
                        </p>
                         </li>
                         <li>
                          <p class="description">
                            IIT Bhubaneswar organizes 'FIT INDIA CYCLOTHON' as part of Fit India Mission
                          </p>
                           </li>
                           <li>
                            <p class="description">
                              Fest heads have decided to conduct their fests in online mode
                            </p>
                             </li>
                    </ul>
                  </div>
                </div>
      
              </div>
            </div>
      
            </div>
            </section>

            <div class="container-fluid" id="trarticles">
              <hr class="px-5">
                <div class='row my-5'>
                    <div class="col-12 mb-3" >
                      <div class="row" id="tr">
                      <svg width="28" height="29" viewBox="0 0 28 29" fill="none" class="mg x"><path fill="#fff" d="M0 .8h28v28H0z"></path>
                        <g opacity="0.8" clip-path="url(#trending_svg__clip0)"><path fill="#fff" d="M4 4.8h20v20H4z"></path><circle cx="14" cy="14.79" r="9.5" stroke="#000"></circle>
                          <path d="M5.46 18.36l4.47-4.48M9.97 13.87l3.67 3.66M13.67 17.53l5.1-5.09M16.62 11.6h3M19.62 11.6v3" stroke="#000" stroke-linecap="round"></path></g>
                          <defs><clipPath id="trending_svg__clip0"><path fill="#fff" transform="translate(4 4.8)" d="M0 0h20v20H0z"></path></clipPath></defs></svg>
                        <p>TRENDING AT IIT BBS</p>
                      </div>
            
                    </div>
                  
                    <% var j =0; var count=0 ; for( j=0;j<article.length ;j++){ 
                      if(article[j].trending=="on") {
                         count++ %>
                      
                            <div class="col-lg-4 col-12 my-2">
                              <div class="row">
                                 <div class="trend-entry d-flex">
                                   <div class="number align-self-start">0<%=j+1%></div>
                                   <div class="trend-contents">
                                  <a href="articles/<%=j%>" aria-hidden="true" tabindex="-1">
                                     
                                        
                                                    <h2><%=article[j].name%></h2>
                                                 
                                  </a>
                                  <div class="post-meta">
                                    <span class="date-read"><%=article[j].date%> <span class="mx-1">•</span> 3 min read <span class="icon-star2"></span></span>
                                    </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            
                       
                      <% } if(count==6){break}    } %>
                    
                </div>
                </div>

                   

 
              <div class="container-fluid">
                  <hr class="px-5">
                
                  <div class="row mt-5 mr-1 pr-1">
                      <div class="col-lg-8 col-12 "">
                          <div class="row" id="articles">
                              <% var j =0; var count ; for( j=article.length-7;j>article.length-12;j--){ count = 0;
                               
                                {
                                    
                                  count++ %>
                                  
                                                      <div class="post-entry-2 d-flex" style="height:auto;">
                                                          <div class="thumbnail order-md-2" style="background-image: url('assets/img/gallery/<%=article[j].photo%>.jpg');"></div>
                                                          <div class="contents order-md-1 pl-0">
                                                            <a href="articles/<%=j%>" aria-hidden="true" tabindex="-1">
                                                            <h2><%=article[j].name%></h2>
                                                          </a>
                                                          <p class="mb-3"><%= article[j].pure_text.split(" ").slice(0,90).join(" ")%> <span>....</span></p>
                                                          <div class="post-meta">
                                                           
                                                            <!-- <% for (var i =0; i <=author.length-1;  i++ ) { 
                                                              
                                                              if (author[i].id === article[j].article_id) 
                                                                 %> -->
                                                                 <% for(var k=0;k<author.length;k++){
                                                                   console.log("HI");
                                                                   console.log(article[j].author_id);
                                                                  console.log(k);
                            if(article[j].author_id===author[k].id) {
                              console.log(k); %>
                              <span class="d-block"> <%=author[k].name%> in <%=article[j].category%></span>
                          <% break}}%>
                                                                <!-- <span class="d-block"><a href="#"> <%=author[i].name%></a> in <a href="#"><%=article[j].category%></a></span>
                                                                <% break %>  
                                                              <%  } %>
                                 -->
                                                             
                                                           
                                                         
                                                          
                                                          <span class="date-read"> <%=article[j].date%> <span class="mx-1">•</span> 3 min read <span class="icon-star2"></span></span>
                                                          </div>
                                                          </div>
                                                          </div>
                                             
                                        
                                     
                                  <% }  } %>
                                  


                              
                          
                                  
                          </div>
                      </div>
                      <div class="col-lg-4 col-12" >
                        <div class="in-quest">

                          <form class="form" method="post" autocomplete="off" name="google-sheet">
                            <b>Connect Episode 4</b>
                            <br><b>In Conversation with <a href="https://www.iitbbs.ac.in/profile.php/pv-satyam/">Prof P.V. Satyam, Dean of Students' Affairs.</a></b>
                            <p>Panacea in collaboration with the Oracle would be releasing their Fourth Episode of Connect Interview Series.</p>
                            <p>For this edition, the newly appointed Dean- Student Affairs , Professor P. V. Satyam, from School of Basic Sciences, would be gracing us with his presence. 
                              Prof Satyam has encouraged students to put forth their queries, if any, that are to be answered by him during this interview.</p>

                          
                            <input type="text" name="Question" class="form-control" placeholder="Type your Question here...." value="" required=""/>
                            <center><input type="submit" name="submit" class="button" value="SUBMIT" /></center>
                           
                          </form>
                        </div>
                       
              
                    
                   
                           
                                    <!-- <div class="col-12">
                                        <div class="row" style="font-size: 14px;" id="stickylinks">
                                           
                                       
                                            <a href=""><h4 class="fx">Help</h4></a>
                                            <a href=""><h4 class="fx">Status</h4></a>
                                            <a href=""><h4 class="fx">Writers</h4></a>
                                            <a href=""><h4 class="fx">Blog</h4></a>
                                            <a href=""><h4 class="fx">Careers</h4></a>
                                            <a href=""><h4 class="fx">Privacy</h4></a>
                                            <a href=""> <h4 class="fx">Terms</h4> </a>
                                            <a href=""><h4 class="fx">About</h4></a>
                                           
                                        </div>
                
                                    </div>
                                    <div class="col-12" id="contact">
                                      <form class="form">
                                        <h2>CONTACT US</h2>
                                        <p type="Name:"><input placeholder="Write your name here.."></input></p>
                                        <p type="Email:"><input placeholder="Let us know how to contact you back.."></input></p>
                                        <p type="Message:"><input placeholder="What would you like to tell us.."></input></p>
                                       <center><button>Send Message</button></center>
                                       
                                      </form>
                                    </div> -->
                                    <div class="blog_right_sidebar">
                            
                            
                                      <aside class="single_sidebar_widget popular_post_widget">
                                          <h3 class="widget_title" style="color: #2d2d2d;">Recent Post</h3>
                                              <% for(var i=article.length-2; i>article.length-7; i--){%>
                                          <div class="media post_item">
                                              <img src="assets/img/gallery/<%= article[i].photo %>.jpg" style="width:60px; height:50px;" alt="post">
                                              <div class="media-body">
                                                  <a href="articles/<%=i%>">
                                                      <h3 style="color: #2d2d2d;"><%= article[i].name %></h3>
                                                  </a>
                                                  <p><%= article[i].date %></p>
                                              </div>
                                          </div>
                                              <% } %>
                                          
                                      </aside>
                                      
          
                                      <!-- <aside class="single_sidebar_widget instagram_feeds">
                                          <h4 class="widget_title" style="color: #2d2d2d;">Instagram Feeds</h4>
                                          
                                      </aside> -->
                                      
                                  </div>

                                 
                
                
                        </div>
                
                
                          </div>
                
                
                      </div>
                   
                
                      




</main><!-- #main -->

<script>
  const scriptURL = 'https://script.google.com/macros/s/AKfycbzm6UvdEakof_SreE1gehc8-Pgyvq_f-C7-8Nz32V6cNxWFVu7I5KQf1EwYw12iFHlCaw/exec'
  const form = document.forms['google-sheet']

  form.addEventListener('submit', e => {
    e.preventDefault()
    fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(response => alert("Your response have been submitted!!"))
      .catch(error => console.error('Error!', error.message))
  })
</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> 
<script src="../assets/js/header.js"></script>

<%- include('footer') -%>
