<%- include('header') -%>
  
<style>
    body {
font-family: "Open Sans", sans-serif;
color: #444;
background-color: white;
}
a {
color: rgba(117, 117, 117, 1);
text-decoration: none;
}
a:hover {
text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .font-primary {
font-family: "Roboto", sans-serif;
}
/*--------------------------------------------------------------
# Our Services
--------------------------------------------------------------*/
.services .Announcements {
position: relative;
overflow: hidden;
background: white;
align-items: center;
border: 1px solid #fff;
border-radius: 10px;
margin-top: 40px;
}
.services .Announcements .title{
padding-top: 15px;
padding-right: 15px;
}
.services .Announcements .description{
font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
padding-top: 10px;
font-size: 16px;
line-height: 28px;
color: black;
}
.services .Announcements ul{
  list-style-type: circle;
}
@media only screen and (min-width: 772px){
.services{
  /* height: 88vh; */
  padding-top: 40px;
}
}
br{
padding: 0 px;
margin: 0px;
line-height: 1px;
}
.services .title a {
color: #111;
}
.services .description {
font-size: 15px;
line-height: 28px;
margin-bottom: 0;
}
/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .container {
background: #fff;
}
@media only screen and (min-width: 900px){
#recentposts{
width: 90%;
}
}
@media only screen and (min-width: 992px){
.Announcements::before{
content: '';
position: absolute;
background-color: rgb(230, 230, 230);
width: 0.5px;
height: 100%;
}
}
@media only screen and (min-width: 772px){
#table .line{
  display: none;
}
}
@media only screen and (min-width: 772px){
.post-entry-1 .line1{
  display: none;
}
}
@media only screen and (min-width: 772px){
  .post-entry-2 .contents{
    padding-left: 35px;
  }
  }
#articles .post-entry-2{
  width: 100%;
}
.why-us h2{
font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
max-height: 56px;
font-size: 30px;
font-weight: 200;
letter-spacing: 0;
color: rgba(41, 41, 41, 1);
line-height: 28px;
margin: 0;
padding-top: 10px;  
}
.post-entry-1 h2{
font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
max-height: 56px;
font-size: 22px;
font-weight: 700;
letter-spacing: 0;
color: rgba(41, 41, 41, 1);
line-height: 28px;
margin: 0;
padding-top: 10px;  
}
.why-us .post-entry-1{
padding-bottom: 20px;
}
.why-us p{
font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
padding-top: 10px;
font-size: 18px;
line-height: 28px;
color: rgba(41, 41, 41, 1);
}
.why-us h4{
max-height: 16px;
font-size: 12px;
line-height: 16px;
font-weight: 500;
color: rgba(41, 41, 41, 1);
padding-top: 5px;
padding-bottom: 10px;
}
.post-entry-2{
margin-bottom: 30px;
}
.post-entry-2 .thumbnail{
background-size: cover;
background-position: center;
width: 40%;
}
.post-entry-2 .contents{
width: 60%;
}
.post-entry-2 h2{
font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
color: rgba(41, 41, 41, 1);
font-weight: 700;
line-height: 20px;
font-size: 18px;
margin: 0;
padding-top: 10px;
}
.why-us span{
font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
font-size: 17px;
color: rgba(117, 117, 117, 1);
line-height: 20px;
font-weight: 400;
}
#trarticles span{
font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
font-size: 16px;
color: rgba(117, 117, 117, 1);
line-height: 20px;
font-weight: 400;
}
#trarticles{
  background-color: white;
  /* width: 70%; */
}
.third{
background-color: yellow;
max-width: 600px;
}
#trarticles .post-meta{
  padding-top: 10px;
}
#tr p{
letter-spacing: 0.083em;
line-height: 16px;
font-size: 15px;
font-weight: 700;
color: rgba(41, 41, 41, 1);
font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
vertical-align: middle;
padding-top: 8px;
}
.trend-entry .number {
-webkit-box-flex: 0;
-ms-flex: 0 0 50px;
flex: 0 0 50px;
font-size: 30px;
line-height: 1;
color: #ccc;
font-weight: 600;
padding-top: 15px;
}
.trend-contents h2{
max-height: 40px;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
display: -webkit-box;
font-weight: 750;
font-size: 16px;
color: rgba(41, 41, 41, 1);
line-height: 20px;
letter-spacing: 0;
font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.trend-entry{
margin-bottom: 30px;
padding-right: 15px;
padding-left: 15px;
}
svg {
vertical-align: middle;
}
#tr{
padding-right: 15px;
padding-left: 15px;
}
.container-fluid{
  width:90%;
}
#articles{
padding-right: 25px;
}
#articles .contents{
margin-left: 20px;
}
@media only screen and (max-width: 600px) {
#articles .mb-3{
  display: none;
}
}
@media only screen and (min-width: 900px){
#articles .contents h2{
letter-spacing: 0px;
max-height: 40px;
line-height: 20px;
font-size: 20px;
font-weight: 700;
color: rgba(41, 41, 41, 1);
font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
}
#articles .mb-3{
font-size: 16px;
line-height: 20px;
font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 0;
color: rgba(117, 117, 117, 1);
padding-top: 10px;
}
#articles .post-meta{
font-size: 14px;
color: rgba(117, 117, 117, 1);
line-height: 20px;
font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 400;
padding-top: 10px;
}
#sticky {
  position: -webkit-sticky;
  position: sticky;
top: 0;
background-color: white;
}
.stick {
position: -webkit-sticky;
position: sticky;
top: 30px;
}
#stickylinks{
flex-wrap: wrap;
flex-direction: row;
display: flex;
padding-left: 20px;
padding-top: 45px;
}
#stickylinks .fx{
margin-right: 26px;
margin-bottom: 8px;
display: block;
font-weight: 400;
color: rgba(117, 117, 117, 1);
font-size: 16px;
line-height: 20px;
font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#table li{
  list-style-type: disc;
}
#contact{
padding-left: 20px;
padding-right: 20px;
}
.form{widows: 100%;height:470px;background: white;border-radius:8px;box-shadow:0 0 20px -10px #000;margin:calc(50vh - 220px) auto;padding:20px 20px ;max-width:calc(100vw - 40px);box-sizing:border-box;font-family:'Montserrat',sans-serif;position:relative}
.form h2{margin:10px 0;padding-bottom:10px;width:150px;color:#78788c;font-size: 25px; border-bottom:3px solid #78788c}
.form input{width:100%;padding:10px;box-sizing:border-box;background:none;outline:none;resize:none;border:0;font-family:'Montserrat',sans-serif;transition:all .3s;border-bottom:2px solid #bebed2}
.form input:focus{border-bottom:2px solid #78788c}
.form p:before{content:attr(type);display:block;margin:28px 0 0;font-size:14px;color:#5a5a5a}
.form button{
padding:8px 12px;margin:8px 0 0;font-family:'Montserrat',sans-serif;border:2px solid #78788c;background:0;color:#5a5a6e;cursor:pointer; border-radius: 10px; transition:all .3s}
.form button:hover{background:#78788c;color:#fff}
.form div{content:'Hi';position:absolute;bottom:-15px;right:-20px;background:#50505a;color:#fff;width:320px;padding:16px 4px 16px 0;border-radius:6px;font-size:13px;box-shadow:10px 10px 40px -14px #000}
.form span{margin:0 5px 0 15px}
</style> 


  <main id="main">


      <!-- ======= Services Section ======= -->
      <section class="services">
        <div class="container-fluid" id="recentposts">
          <div class="col-md-12">
  
          <div class="row">
            <div class="col-lg-8">
              <section class="why-us">

                <!-- <h2>Recent Articles</h2> -->
                <br>
                  <div class="row">
                    
                    <div class="col-md-6">
                          <% var j =0; var count ; for( j=0;j<article.length;j++){ count = 0;
                          if(article[j].trending=="on") {
                          count++ %>
                              <article >
                                  
                                      <a href="articles/<%=j%>" aria-hidden="true" tabindex="-1">
                                          <div class="post-entry-1">
                                              <img src="assets/img/gallery/<%=article[article.length-1].photo%>.jpg" width="100%" height="auto">
                                            
                                            
                                              <h2><%=article[j].name%></h2>
                                              
                                              <p><%= article[j].pure_text.split(" ").slice(0,30).join(" ")%>...</p>
                                              <% for(var k=0;k<author.length;k++){
                                                console.log("HI");
                                                console.log(article[j].author_id);
                                               console.log(k);
         if(article[j].author_id===author[k].id) {
           console.log(k); %>
           <span class="d-block"><%=author[k].name%> <span class="mx-1">•</span><%=article[j].category%>
       <% break}}%>
                                              
                                              <div class="line1">
                                                <br>
                                                <hr class="px-5">
                                              </div>
                                            </div>
                                              
                                      </a>
                                
                                 
                              </article>
                          <% }  if(count==1) break; } %>
                          
                          </div>

                          <br>

                          <div class="col-md-6" id="recent">
                              <% var j =0; var count ; for( j=article.length-2;j>article.length-6;j--){ count = 0;
                              {
                              count++ %>
                                  <article >
                                      
                                          <a href="articles/<%=j%>" aria-hidden="true" tabindex="-1">
                                              <div class="post-entry-2 d-flex">
                                                  
                                                
                                                  <div class="contents" style="height:95px;">
                    
                                                      <h2><%=article[j].name%></h2>
                                                    
                                                      <br>
                                                      <% for(var k=0;k<author.length;k++){
                                                        console.log("HI");
                                                        console.log(article[j].author_id);
                                                       console.log(k);
                 if(article[j].author_id===author[k].id) {
                   console.log(k); %>
                   <span class="d-block"><%=author[k].name%><span class="mx-1">•</span><%=article[j].category%></span>
               <% break}}%>
                                                      
                                                      </div>
                                                      <div class="thumbnail" style="background-image: url('assets/img/gallery/<%=article[j].photo%>.jpg')"></div>
                                                  </div>
                                                  
                                          </a>
                                    
                                     
                                  </article>
                              <% }  } %>
                              
                          

                          </div>
                
                 
                
                      </div>
              
                  </section><!-- End Why Us Section -->
                </div>
                
               
              
                
                <div class="col-md-6 col-lg-4" id="table">
                  <div class="line">
                  <hr class="px-5">
                </div>
                  <div class="Announcements">
                    <div class="row justify-content-center">
                     
                    <h4 class="title">Announcements</h4>
                    <i class="fa fa-bullhorn fa-3x" aria-hidden="true"></i>
                  
                    </div>
                    <br>
                    <ul>
                      <li>
                    <p class="description">
                      News Needs to Meet Its Audiences Where They Are News Needs to Meet Its Audiences Where They
                    </p>
                     </li>
                     <li>
                      <p class="description">
                        News Needs to Meet Its Audiences Where They Are  Audiences Where They News Needs to Meet Its Audiences Where They
                      </p>
                       </li>
                       <li>
                        <p class="description">
                          News Needs to Meet Its Audiences Where They Are Audiences Where They News Needs to Meet Its Audiences Where They
                        </p>
                         </li>
                         <li>
                          <p class="description">
                            News Needs to Meet Its Audiences Where They Are News Needs to Meet Its Audiences Where They
                          </p>
                           </li>
                    </ul>
                  </div>
                </div>
      
              </div>
            </div>
      
            </div>
            </section>

            <div class="container-fluid" id="trarticles">
              <hr class="px-5">
                <div class='row my-5'>
                    <div class="col-12 mb-3" >
                      <div class="row" id="tr">
                      <svg width="28" height="29" viewBox="0 0 28 29" fill="none" class="mg x"><path fill="#fff" d="M0 .8h28v28H0z"></path>
                        <g opacity="0.8" clip-path="url(#trending_svg__clip0)"><path fill="#fff" d="M4 4.8h20v20H4z"></path><circle cx="14" cy="14.79" r="9.5" stroke="#000"></circle>
                          <path d="M5.46 18.36l4.47-4.48M9.97 13.87l3.67 3.66M13.67 17.53l5.1-5.09M16.62 11.6h3M19.62 11.6v3" stroke="#000" stroke-linecap="round"></path></g>
                          <defs><clipPath id="trending_svg__clip0"><path fill="#fff" transform="translate(4 4.8)" d="M0 0h20v20H0z"></path></clipPath></defs></svg>
                        <p>TRENDING AT IIT BBS</p>
                      </div>
            
                    </div>
                  
                    <% var j =0; var count=0 ; for( j=0;j<article.length ;j++){ 
                      if(article[j].trending=="on") {
                         count++ %>
                      
                            <div class="col-lg-4 col-12 my-2">
                              <div class="row">
                                 <div class="trend-entry d-flex">
                                   <div class="number align-self-start">0<%=j+1%></div>
                                   <div class="trend-contents">
                                  <a href="articles/<%=j%>" aria-hidden="true" tabindex="-1">
                                     
                                        
                                                    <h2><%=article[j].name%></h2>
                                                 
                                  </a>
                                  <div class="post-meta">
                                    <span class="date-read"><%=article[j].date%> <span class="mx-1">•</span> 3 min read <span class="icon-star2"></span></span>
                                    </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            
                       
                      <% } if(count==6){break}    } %>
                    
                </div>
                </div>

                   

 
              <div class="container-fluid">
                  <hr class="px-5">
                
                  <div class="row mt-5 mr-1 pr-1">
                      <div class="col-lg-8 col-12 "">
                          <div class="row" id="articles">
                              <% var j =0; var count ; for( j=article.length-2;j>article.length-8;j--){ count = 0;
                               
                                {
                                    
                                  count++ %>
                                  
                                                      <div class="post-entry-2 d-flex" style="height:200px;">
                                                          <div class="thumbnail order-md-2" style="background-image: url('assets/img/gallery/<%=article[j].photo%>.jpg');"></div>
                                                          <div class="contents order-md-1 pl-0">
                                                            <a href="articles/<%=j%>" aria-hidden="true" tabindex="-1">
                                                            <h2><%=article[j].name%></h2>
                                                          </a>
                                                          <p class="mb-3"><%= article[j].pure_text.split(" ").slice(0,90).join(" ")%> <span>....</span></p>
                                                          <div class="post-meta">
                                                           
                                                            <!-- <% for (var i =0; i <=author.length-1;  i++ ) { 
                                                              
                                                              if (author[i].id === article[j].article_id) 
                                                                 %> -->
                                                                 <% for(var k=0;k<author.length;k++){
                                                                   console.log("HI");
                                                                   console.log(article[j].author_id);
                                                                  console.log(k);
                            if(article[j].author_id===author[k].id) {
                              console.log(k); %>
                              <span class="d-block"> <%=author[k].name%> in <%=article[j].category%></span>
                          <% break}}%>
                                                                <!-- <span class="d-block"><a href="#"> <%=author[i].name%></a> in <a href="#"><%=article[j].category%></a></span>
                                                                <% break %>  
                                                              <%  } %>
                                 -->
                                                             
                                                           
                                                         
                                                          
                                                          <span class="date-read"> <%=article[j].date%> <span class="mx-1">•</span> 3 min read <span class="icon-star2"></span></span>
                                                          </div>
                                                          </div>
                                                          </div>
                                             
                                        
                                     
                                  <% }  } %>
                                  


                              
                          
                                  
                          </div>
                      </div>
                      <div class="col-lg-4 col-12" >
                        <div class="row  stick">




                          <div id="qp_all3393124">
                            <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
                            <STYLE>#qp_main3393124 .qp_btna:hover input {background:#00355F!important} #qp_all3393124 {max-width:815px; margin:0 auto;}</STYLE>
                            <div id="qp_main3393124" fp='4B1444e4-104' results=0 style="border-radius:0px;margin:0 auto 10px auto;padding:0.8em;background-color:#FFF;font-family: 'Open Sans', sans-serif, Arial;color:#000;border: 1px solid #DBD9D9;max-width:815px;box-sizing:border-box;text-align:left">
                            <div style="font-size:1em;background-color:#00355F;color:#FFF;font-family:'Open Sans', sans-serif, Arial">
                            <div style="padding:0.8em;line-height:1.3em">Are you willing to go back to campus</div>
                          </div>
                          <form id="qp_form3393124" action="//www.poll-maker.com/results3393124x4B1444e4-104" method="post" target="_blank" style="display:inline;margin:0px;padding:0px">
                            <div style="padding:0px">
                              <input type=hidden name="qp_d3393124" value="44229.6771296270-44229.6771175029">
                              <div style="display:block;color:#6B6B6B;font-family: 'Open Sans', sans-serif, Arial;font-size:1em;line-height:1.5;padding:13px 8px 11px;margin:10px 0px;clear:both" class="qp_a" onClick="var c=this.getElementsByTagName('INPUT')[0]; if((!event.target?event.srcElement:event.target).tagName!='INPUT'){c.checked=(c.type=='radio'?true:!c.checked)};var i=this.parentNode.parentNode.parentNode.getElementsByTagName('INPUT');for(var k=0;k!=i.length;k=k+1){i[k].parentNode.parentNode.setAttribute('sel',i[k].checked?1:0)}">
                                <span style="display:block;padding-left:30px;cursor:inherit">
                                <input style="float:left;width:20px;margin-left:-25px;margin-top:2px;padding:0px;height:20px;-webkit-appearance:radio;" name="qp_v3393124" type="radio" value="1" />Yes</span>
                              </div>
                              <div style="display:block;color:#6B6B6B;font-family: 'Open Sans', sans-serif, Arial;font-size:1em;line-height:1.5;padding:13px 8px 11px;margin:10px 0px;clear:both" class="qp_a" onClick="var c=this.getElementsByTagName('INPUT')[0]; if((!event.target?event.srcElement:event.target).tagName!='INPUT'){c.checked=(c.type=='radio'?true:!c.checked)};var i=this.parentNode.parentNode.parentNode.getElementsByTagName('INPUT');for(var k=0;k!=i.length;k=k+1){i[k].parentNode.parentNode.setAttribute('sel',i[k].checked?1:0)}">
                                <span style="display:block;padding-left:30px;cursor:inherit">
                                <input style="float:left;width:20px;margin-left:-25px;margin-top:2px;padding:0px;height:20px;-webkit-appearance:radio;" name="qp_v3393124" type="radio" value="2" />No</span>
                              </div>
                              <div style="display:block;color:#6B6B6B;font-family: 'Open Sans', sans-serif, Arial;font-size:1em;line-height:1.5;padding:13px 8px 11px;margin:10px 0px;clear:both" class="qp_a" onClick="var c=this.getElementsByTagName('INPUT')[0]; if((!event.target?event.srcElement:event.target).tagName!='INPUT'){c.checked=(c.type=='radio'?true:!c.checked)};var i=this.parentNode.parentNode.parentNode.getElementsByTagName('INPUT');for(var k=0;k!=i.length;k=k+1){i[k].parentNode.parentNode.setAttribute('sel',i[k].checked?1:0)}">
                                <span style="display:block;padding-left:30px;cursor:inherit">
                                <input style="float:left;width:20px;margin-left:-25px;margin-top:2px;padding:0px;height:20px;-webkit-appearance:radio;" name="qp_v3393124" type="radio" value="3" />May be</span>
                              </div>
                            </div>
                            <div style="padding-left:0px;clear:both;text-align:left;margin:1em auto">
                              <a style="display:inline-block;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;padding-right:5px;text-decoration:none" class="qp_btna" href="#">
                                <input name="qp_b3393124" style="min-width:7.8em;padding:0.5em;background-color:#0B79D3;font-family: 'Open Sans', sans-serif, Arial;font-size:16px;color:#FFF;cursor:pointer;cursor:hand;border:0px;-webkit-appearance:none;border-radius:0px" type="submit" btype="v" value="Vote" />
                              </a>
                              <a style="display:inline-block;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;padding-left:5px;text-decoration:none" class="qp_btna" href="#">
                                <input name="qp_b3393124" style="min-width:7.8em;padding:0.5em;background-color:#0B79D3;font-family: 'Open Sans', sans-serif, Arial;font-size:16px;color:#FFF;cursor:pointer;cursor:hand;border:0px;-webkit-appearance:none;border-radius:0px" type="submit" btype="r" value="Results" />
                              </a>
                            </div>
                          </form>
                          <div style="display:none">
                            <div id="qp_rp3393124" style="font-size:14px;width:5ex;text-align:right;overflow:hidden;position:absolute;right:5px;height:1.5em;line-height:1.5em"></div>
                            <div id="qp_rv3393124" style="font-size:14px;line-height:1.5em;width:0%;text-align:right;color:#FFF;box-sizing:border-box;padding-right:3px"></div>
                            <div id="qp_rb3393124" style="font-size:14px;line-height:1.5em;color:#FFFFFF;display:block;padding-right:10px 5px"></div>
                            <div id="qp_rva3393124" style="background:#006FB9;border-color:#006FB9"></div>
                            <div id="qp_rvb3393124" style="background:#163463;border-color:#163463"></div>
                            <div id="qp_rvc3393124" style="background:#5BCFFC;border-color:#1481AB"></div>
                          </div>
                        </div>
                        <STYLE t=633>
                          .cclass {display:inline-block!important;}
                          .aclass {display:none!important;}
                        </STYLE>
                        <SCRIPT t=633>try{var notRandom = 'True';
                        sys.init(0,function(){
                            sys.themeFirstLoadCB.push(function() {
                                var pfn = sys.dthemes.renderCB;
                                sys.dthemes.renderCB = function(pfn){return function() {
                                    pfn();
                                    if(notRandom=='True') {
                                        notRandom = '';
                                        var parent = document.getElementById("poll-layouts");
                                        for(var i = 0; i < parent.children.length; i++){
                                            //parent.appendChild(parent.children[Math.random() * i | 0]);
                                        }
                                    }
                                }}(pfn);
                            });
                        });
                        }catch(e){console.log('error',e)}</SCRIPT>
                        <STYLE t=653>div#headerflat {
                            display: none;
                        }</STYLE>
                      </div>
                      <script src="//scripts.poll-maker.com/3012/scpolls.js" language="javascript"></script>

                        </div>
                    
                   
                           
                                    <!-- <div class="col-12">
                                        <div class="row" style="font-size: 14px;" id="stickylinks">
                                           
                                       
                                            <a href=""><h4 class="fx">Help</h4></a>
                                            <a href=""><h4 class="fx">Status</h4></a>
                                            <a href=""><h4 class="fx">Writers</h4></a>
                                            <a href=""><h4 class="fx">Blog</h4></a>
                                            <a href=""><h4 class="fx">Careers</h4></a>
                                            <a href=""><h4 class="fx">Privacy</h4></a>
                                            <a href=""> <h4 class="fx">Terms</h4> </a>
                                            <a href=""><h4 class="fx">About</h4></a>
                                           
                                        </div>
                
                                    </div>
                                    <div class="col-12" id="contact">
                                      <form class="form">
                                        <h2>CONTACT US</h2>
                                        <p type="Name:"><input placeholder="Write your name here.."></input></p>
                                        <p type="Email:"><input placeholder="Let us know how to contact you back.."></input></p>
                                        <p type="Message:"><input placeholder="What would you like to tell us.."></input></p>
                                       <center><button>Send Message</button></center>
                                       
                                      </form>
                                    </div> -->
                                    <div class="blog_right_sidebar">
                            
                            
                                      <aside class="single_sidebar_widget popular_post_widget">
                                          <h3 class="widget_title" style="color: #2d2d2d;">Recent Post</h3>
                                              <% for(var i=article.length-1; i>article.length-6; i--){%>
                                          <div class="media post_item">
                                              <img src="assets/img/gallery/<%= article[i].photo %>.jpg" style="width:60px; height:50px;" alt="post">
                                              <div class="media-body">
                                                  <a href="articles/<%=i%>">
                                                      <h3 style="color: #2d2d2d;"><%= article[i].name %></h3>
                                                  </a>
                                                  <p><%= article[i].date %></p>
                                              </div>
                                          </div>
                                              <% } %>
                                          
                                      </aside>
                                      
          
                                      <aside class="single_sidebar_widget instagram_feeds">
                                          <h4 class="widget_title" style="color: #2d2d2d;">Instagram Feeds</h4>
                                          
                                      </aside>
                                      
                                  </div>

                                 
                
                
                        </div>
                
                
                          </div>
                
                
                      </div>
                   
                
                      




</main><!-- #main -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> 
<script src="/public/assets/js/header.js"></script>

<%- include('footer') -%>
