<%- include('header') -%>

  <main id="main" role="main">
    <h2 id="main-content" class="sr-only-element" tabindex="-1">Main Content</h2>

    
    <section class="panel-collection" data-modular-content-collection>
        <section class="panel theme--sandstone" data-type="section" data-modular-content data-js="panel" data-index="3">

            <header>
                <h3 class="center">Trending news at IIT Bhubaneswar</h3>
            </header>
            
            <section class="panel" data-type="posts" data-width="full" data-posts-per-row="3" data-featured-post="none">

                <div class="grid-container">
                <% var j =0; var count ; for( j=0;j<article.length;j++){ count = 0;
                if(article[j].trending=="on") {
                   count++ %>
                    <article >
                        <figure class="landscape">
                            <a href="articles/<%=j%>" aria-hidden="true" tabindex="-1">
                                <picture data-anchor-v="center" data-anchor-h="center">
                                    <img role="presentation" alt="" src="assets/img/gallery/<%=article[j].photo%>.jpg" style="height:525px;" />
                                </picture>
                            </a>
                        </figure>
                        <div class='content'>
                            <div class="post-meta">
                                <p class="post-category"><%=article[j].category%></p>
                            </div>
                            <h3><a href='articles/<%=j%>'><%=article[j].name%></a></h3>
                        </div>
                    </article>
                <% }  if(count==6) break; } %>
                
                </div>

            </section>
        
        </section>

    </section>




    <section class="panel theme--white" data-type="section" data-modular-content data-js="panel" data-index="10">

        <header>

            <h3 class="center">Student Life</h3>

        </header>

        <section class="panel" data-type="highlights" data-width="full" data-posts-per-row="3">

            <div class="grid-container">
                <% for(var j=0;j<article.length;j++){
                    count = 0;
                if(article[j].category=="studentlife") {
                    count++;  %>
                <section class='highlight'>
                    <figure class="landscape">
                        <picture >
                            <img role="presentation" alt="undergraduate course meets outdoors"  src="assets/img/gallery/<%=article[j].photo%>.jpg" />
                        </picture>
                    </figure>
                    <h3><%=article[j].name%></h3>
                    <p><%= article[j].pure_text.split(" ").slice(0,20).join(" ")%> <span>...</span></p>

                </section>
                <% } if(count == 3) break; }%>
                
            </div>

        </section>



        <section class="panel" data-type="call-to-action">
            <a href="/studentlife" data-ga-category="Call to action" data-ga-action="More Articles on Student Life">More Articles on Student Life</a>
        </section>
    </section>

    <section class="panel theme--sandstone" data-type="section" data-modular-content data-js="panel" data-index="18">

        <header>

            <h3 class="center">Career</h3>

        </header>

        <section class="panel" data-type="highlights" data-width="full" data-posts-per-row="3">

            <div class="grid-container">
                <% for(var j=0;j<article.length;j++){
                    count = 0;
                if(article[j].category=="career") {
                    count++;  %>
                <section class='highlight'>
                    <figure class="landscape">
                        <picture >
                            <img role="presentation" alt="undergraduate course meets outdoors" src="assets/img/gallery/<%=article[j].photo%>.jpg" />
                        </picture>
                    </figure>
                    <h3><%=article[j].name%></h3>
                    <p><%= article[j].pure_text.split(" ").slice(0,20).join(" ")%> <span>...</span></p>

                </section>
                <% } if(count == 3) break;} %>
                
            </div>

        </section>
        
        <section class="panel" data-type="call-to-action">
            <a href="/career" data-ga-category="Call to action" data-ga-action="More Articles on Careers">More Articles on Careers</a>
        </section>

    </section>

    <section class="panel theme--white" data-type="section" data-modular-content data-js="panel" data-index="22">

        <header>

            <h3 class="center">Alumni News</h3>

        </header>

        <section class="panel" data-type="highlights" data-width="full" data-posts-per-row="3">

            <div class="grid-container">
                <% for(var j=0;j<article.length;j++){
                    count = 0;
                if(article[j].category=="alumni") {
                    count++;  %>
                <section class='highlight'>
                    <figure class="landscape">
                        <picture >
                            <img role="presentation" alt="undergraduate course meets outdoors" src="assets/img/gallery/<%=article[j].photo%>.jpg" />
                        </picture>
                    </figure>
                    <h3><%=article[j].name%></h3>
                    <p><%= article[j].pure_text.split(" ").slice(0,20).join(" ")%> <span>...</span></p>

                </section>
                <% } if(count == 3) break;} %>
                
            </div>

        </section>

        <section class="panel" data-type="call-to-action">
            <a href="/alumni" data-ga-category="Call to action" data-ga-action="More Articles on Alumni ">More Articles on Alumni </a>
        </section>

    </section>

    <section class="panel theme--sandstone" data-type="section" data-modular-content data-js="panel" data-index="18">

        <header>

            <h3 class="center">SciTech</h3>

        </header>

        <section class="panel" data-type="highlights" data-width="full" data-posts-per-row="3">

            <div class="grid-container">
                <% for(var j=0;j<article.length;j++){
                    count = 0;
                if(article[j].category=="scitech") {
                    count++;  %>
                <section class='highlight'>
                    <figure class="landscape">
                        <picture >
                            <img role="presentation" alt="undergraduate course meets outdoors" src="assets/img/gallery/<%=article[j].photo%>.jpg" />
                        </picture>
                    </figure>
                    <h3><%=article[j].name%></h3>
                    <p><%= article[j].pure_text.split(" ").slice(0,20).join(" ")%> <span>...</span></p>

                </section>
                <% } if(count == 3) break;} %>
                
            </div>

        </section>
        
        <section class="panel" data-type="call-to-action">
            <a href="/scitech" data-ga-category="Call to action" data-ga-action="More Articles on SciTech">More Articles on SciTech</a>
        </section>

    </section>

    <section class="panel theme--white" data-type="section" data-modular-content data-js="panel" data-index="22">

        <header>

            <h3 class="center">Cult</h3>

        </header>

        <section class="panel" data-type="highlights" data-width="full" data-posts-per-row="3">

            <div class="grid-container">
                <% for(var j=0;j<article.length;j++){
                    count = 0;
                if(article[j].category=="cult") {
                    count++;  %>
                <section class='highlight'>
                    <figure class="landscape">
                        <picture >
                            <img role="presentation" alt="undergraduate course meets outdoors" src="assets/img/gallery/<%=article[j].photo%>.jpg" />
                        </picture>
                    </figure>
                    <h3><%=article[j].name%></h3>
                    <p><%= article[j].pure_text.split(" ").slice(0,20).join(" ")%> <span>...</span></p>

                </section>
                <% } if(count == 3) break;} %>
                
            </div>

        </section>

        <section class="panel" data-type="call-to-action">
            <a href="/cult" data-ga-category="Call to action" data-ga-action="More Articles on Cult ">More Articles on Cult </a>
        </section>

    </section>

    <section class="panel theme--sandstone" data-type="section" data-modular-content data-js="panel" data-index="18">

        <header>

            <h3 class="center">Sports</h3>

        </header>

        <section class="panel" data-type="highlights" data-width="full" data-posts-per-row="3">

            <div class="grid-container">
                <% for(var j=0;j<article.length;j++){
                    count = 0;
                if(article[j].category=="sports") {
                    count++;  %>
                <section class='highlight'>
                    <figure class="landscape">
                        <picture >
                            <img role="presentation" alt="undergraduate course meets outdoors" src="assets/img/gallery/<%=article[j].photo%>.jpg" />
                        </picture>
                    </figure>
                    <h3><%=article[j].name%></h3>
                    <p><%= article[j].pure_text.split(" ").slice(0,20).join(" ")%> <span>...</span></p>

                </section>
                <% } if(count == 3) break; } %>
                
            </div>

        </section>
        
        <section class="panel" data-type="call-to-action">
            <a href="/sports" data-ga-category="Call to action" data-ga-action="More Articles on Sports">More Articles on Sports</a>
        </section>

    </section>




  </main><!-- #main -->

<%- include('footer') -%>